h1{font-size: 50px;}
.h2{
    font-size: 40px;

}
p{
    color: dimgray;
}
body{margin: 0%;
    font-family: 'Poppins', sans-serif;}
.orange-highlight{color: chartreuse;}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;

}
.half-width img{width: 100%;
}
.top-banner{
    background-image: url("image/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 150px;

}
.link-button{
    text-decoration: none;
    background-image: linear-gradient();
    padding: 10px 20px;
    border-radius: 10px;
    color: green;
    font-weight: bold;
}
.dream-area{
    background-image: url("image/dream-bg.png");
background-repeat: no-repeat;
background-position: right;    
}
.half-width{
    float: left;
}